@use 'variables' as *;

aside {
  display: none;
  width: $sidebar-width;
  min-width: $sidebar-width;
  background-color: $color-secondary;
  padding: $spacing-lg 0;

  nav {
    ul {
      list-style: none;

      li {
        padding: $spacing-sm $spacing-lg;
        color: $color-text-muted;
        font-size: $font-size-sm;
        cursor: pointer;

        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}
